<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085866674695-0dous497bav5u01rl61i16dbosrs027f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085866674695-0dous497bav5u01rl61i16dbosrs027f</string>
	<key>API_KEY</key>
	<string>AIzaSyCgOvfPNt0N1qcZRbjToa-zidkxjchO6TM</string>
	<key>GCM_SENDER_ID</key>
	<string>1085866674695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paciosdev.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-44ea8</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-44ea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085866674695:ios:efbdd0aaf66c67558678a2</string>
</dict>
</plist>